body {
  background-color: rgba(48, 204, 131, 0.323);
  display: flex;
  padding: 25px;
  justify-content: center;
  flex-direction: column;
  font-family: "Iceland", sans-serif;
 
}

header {
  text-align: center;
  padding: 20px;
  font-family: "Iceland", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: rgba(27, 180, 180, 0.397);
}
 
.navbar-brand.mb-0 {
    font-size: 2rem;
    font-weight: medium;
    font-style: normal;
    color: rgb(115, 31, 211);
    letter-spacing: 0.5px;
    text-shadow: 2px 2px 4px rgba(214, 9, 159, 0.73);
    font-size: 1.5rem;
    font-family: "Iceland", sans-serif;


      &:hover {
    background-color: rgba(65, 213, 32, 0.622)
     }
}
 
.giphy-image {
  width: 250px;
  height: 250px;
  margin: 10px;
  padding: 12px;
  
}

.Gif-search button {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  font-family: "Iceland", sans-serif;
  background-color: rgba(6, 243, 14, 0.338);
  color: rgba(246, 9, 96, 0.912);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px 0 rgba(205, 61, 245, 0.867);
  
  &:hover {
    background-color: rgba(228, 6, 221, 0.362);
  }
}

.Gif-search search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;

 }
  
  
